<% @articles.each do |article| %>
  <div class="card">
    <div class="card-body">
      <span class="card-title"><%= article.title %></span>
      <span class="card-subtitle"><%= article.posted_at %></span>
      <span class="card-subtitle"><%= article.author.name %></span>
    </div>
  </div>
<% end %>