<% @articles.each do |article| %>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><%= article.title  %></h5>
      <h6 class="card-subtitle mb-2 text-muted"><%= article.posted_at  %></h6>
      <p class="card-text">
        <pre><%= article.body  %></pre>
      </p>
    </div>
  </div>
<% end %>