<nav class="navbar navbar-light bg-light">
  <%= link_to('NET-COCK-CLOUD', root_path, class: 'navbar-brand') %>
  <%= form_with(url: articles_path, local: true, method: 'get', class: 'form-inline') do |form| %>
    <%= form.search_field(:q, value: params[:q], class: 'form-control mr-sm-2') %>
    <%= form.submit('検索', name: nil, class: 'btn btn-outline-success my-2 my-sm-0') %>
  <% end %>
</nav>